@media (prefers-color-scheme: dark) {
  :root {
    /* tailwindcss gray-800 */
    --vp-code-block-bg: #1f2937;
  }
  .vp-code span {
    color: var(--shiki-dark, inherit);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    /* tailwindcss gray-200 */
    --vp-code-block-bg: #e5e7eb;
  }
  .vp-code span{
    color: var(--shiki-light, inherit);
  }
}
