---
---

@import "{{ site.theme }}";

pre {
  border: 1px solid #ddd;
  padding: 1em;
  background: #F9F8F6;
  code {
    background-color: transparent;
    overflow: auto;
  }
}

code {
  background: #F9F8F6;
  font-size: .7em;
}
