---
---

@import "{{ site.theme }}";

code.highlighter-rouge {
    position: relative;
    margin-bottom: 1em;
    background: #eee;
    color: #4a4a4a;
    font-family: $monospace;
    font-size: $font-size-code;
    line-height: 1.8;
    border-radius: $border-radius;
    padding: 0.3em 0.5em;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.2em;
}

.site-header .separator {
    opacity: 1;
}
