---
---

@import "type-on-strap";

code.highlighter-rouge {
    position: relative;
    margin-bottom: 1em;
    background: #eee;
    color: #4a4a4a;
    font-family: $monospace;
    font-size: $font-size-code;
    line-height: 1.8;
    border-radius: $border-radius;
    padding: 0.3em 0.5em;
}

h1 {
    font-size: 2em;
}

// h2 {
//     font-size: 1.5em;
// }

// h3 {
//     font-size: 1.2em;
// }

@media screen and (max-width: $break) {
    h1, h1 > a {
        font-size: 1.5em;
    }
    h2, h2 > a {
        font-size: 1.4em;
    }
    h3, h3 > a{
        font-size: 1em;
    }
    h4,
    .meta {
        font-size: 0.9em;
    }
    p,
    li,
    a {
        font-size: 0.8em;
    }
}

@media screen and (max-width: $sm-break) {
    h1, h1 > a {
        font-size: 1em;
    }
    h2, h2 > a {
        font-size: 1em;
    }
    h3, h3 > a {
        font-size: 0.7em;
    }
    h4,
    .meta {
        font-size: 0.6em;
    }
    p,
    li,
    a {
        font-size: 0.8em;
    }

    .post-teaser .excerpt {
        font-size: 0.8em;
    }
}

.site-header .separator {
    opacity: 1;
}

.site-header a {
    font-size: 0.8em;
}
